<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
     <h1> Create a Basketball Team! </h1><br>
     Team Name:
     <input type="text" name="Team Name"><br>
     Coach:
     <input type="text" name="people[Coach]"><br>
     Point Guard:
     <input type="text" name="people[Point Guard]"><br>
     Shooting Guard:
     <input type="text" name="people[Shooting Guard]"><br>
     Small Forward:
     <input type="text" name="people[Small Forward]"><br>
     Power Forward:
     <input type="text" name="people[Power Forward]"><br>
     Center:
     <input type="text" name="people[Center]"><br>
     <input type="submit" value="Submit"><br>
   </form>
 </body>
</html>
