<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>

   <form class="" action="/team" method="post">
     <ul>
       <li>
         Team Name
     <input id="Team Name" type="text" name="name" >
      </li>
      <li>
        Coach
     <input id="Coach" type="text" name="coach" >
     </li>
     <li>
       Point Guard
   <input id="Point guard" type="text" name="pg" >
    </li>
    <li>
      Shooting guard
    <input id="Shooting guard" type="text" name="sg" >
    </li>
    <li>
      Power Forward
    <input id="Power forward" type="text" name="pf" >
    </li>
    <li>
      Center
    <input id="Center" type="text" name="c" >
    </li>
    <li>
      Small forward
   <input id="Small forward" type="text" name="sf" >
    </li>

    <input id="Submit" type="submit" name="submit" >

   </form>

 </body>
</html>
